GROQ_API_KEY=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
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REFRESH_TOKEN=your_google_refresh_token_here
HR_EMAIL=tenerifenhalicale@gmail.com